doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/gallery.css')
    link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
    //- link(ref='stylesheet', href='/stylesheets/tipso-min.css')
    //- link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src='/javascripts/jquery.magnific-popup.min.js')
    script(src="/javascripts/blazy.min.js")
    //- script(src="/javascripts/tipso.min.js")
    script(src="/javascripts/loadjs.js")
  body
    block content